.footerText {
    border-top: solid 1px rgb(255, 248, 248);
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 25px;
    text-align: center;
    background-color: #ffeded;
  }

